<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

	<appSettings>
		<add key="PaymentData" value="C:\Проекты\TimeLines\TimeLineTestApp\PaymentData.xml"/>
    <!-- высота временного ряда - для настольного компьютера -->
    <!--<add key="TimeLineControl.Height" value="30"/>-->
    <!-- высота временного ряда - для ноутбука -->
    <add key="TimeLineControl.Height" value="26"/>
	</appSettings>
	
</configuration>
